
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #EEFFED;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #EEFFED;
    --background-start-rgb: 11, 11, 11;
    --background-end-rgb: 11, 11, 11;
  }
}


body {
  background: rgb(11, 11, 11);
  /* background: url(https://images.unsplash.com/photo-1484950763426-56b5bf172dbb?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D); */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  

  color: var(--foreground-rgb);

}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* .text{
  animation: fadeIn 5s ease-in-out; 
  animation-timeline: scroll(250px);

} */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
